* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}

div {
	padding: 10px;
	color: white;
	font-family: sans-serif;
}
.header{
	background-color: #f2a062;
	padding: 20px;
}

.navbar {
	height: 75px;
	background-color: #f2a062;
	padding: 20px;
}

.logo {
	 background-color: #eb6481;
	 float: left;
	 width: 25%;
}

.navigation {
	 background-color: #d76a50;
	 float: right;
	 width: 75%;
}

.hero {
	margin: 0em;
	padding: 0px;
}

.featured {
	display: inline-block;
	background-color: #8eabc0;
}

.sidebar {
	background-color: #f6bd62;
	width: 25%;
	margin: 0em;
	height: 500px;
	float: left;
}

.content {
	background-color: #507088;
	width: 75%;
	height: 500px;
	padding: 10px;
	float: right;
}

.widget {
	display: inline-block;
	background-color: #d76a50;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.widget.blue {
	background-color: #507088;
}

.sub-widget {
	background-color: white;
	color: black;
	display:block;
	margin:0px;outline:none;
}

.gadget {
	display: inline-block;
	background-color: #eb6481;
	width: 200px;
	height: 200px;
	margin: 10px;
}
.gadget.blue {
	background-color: #3a5162;
}

.footer {
		background-color: #b7ce3e;
		display: inline-block;
		width: 100%;

}